# Dependencias

node_modules/

#==============================================

# Archivos del sistema

.Ds_store
Thumbs.db
Desktop.ini

#==============================================

# Editores y logs

.vscode/
.idea/
*.log

